<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="http://img00.zhaopin.cn/2012/css/reset.min.css" media="all">
    <link rel="stylesheet" type="text/css" href="http://my.zhaopin.com/css/new_v5/resume_preview.css" media="all">
	<script language="javascript" type="text/javascript">
	    var _dyweq = _dyweq || [];
	    _dyweq.push(['_setAccount', window['acc4zpAnalytics'] || 'log000001']);
	    _dyweq.push(['_setDomainName', window['dom4zpAnalytics'] || '.zhaopin.com']);
	    if (window['url4zpAnalytics']) _dyweq.push(['_trackPageview', url4zpAnalytics]);
	    else _dyweq.push(['_trackPageview']);
	    (function ()
	    {
	        var dywe = document.createElement('script');
	        dywe.type = 'text/javascript'; dywe.async = true;
	        dywe.src = 'http://img01.zhaopin.cn/2012/js/dywe.js';
	        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(dywe, s);
	    })();
	    var _gaq = _gaq || [];
	    _gaq.push(['_setAccount', window['acc4googleAnalytics'] || 'UA-7874902-2']);
	    _gaq.push(['_setDomainName', window['dom4googleAnalytics'] || 'zhaopin.com']);
	    _gaq.push(['_addOrganic', 'youdao', 'q']);
	    _gaq.push(['_addOrganic', 'sogou', 'query']);
	    _gaq.push(['_addOrganic', 'soso', 'w']);
	    if (window['url4googleAna']) _gaq.push(['_trackPageview', url4googleAna]);
	    else _gaq.push(['_trackPageview']);
	    (function ()
	    {
	        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	    })();
	    function recordOutboundLink(link, category, action)
	    {
	        function ed(d, a) { var c = encodeURIComponent; return c instanceof Function ? (a ? encodeURI(d) : c(d)) : escape(d); }
	        try
	        {
	            _dywet._getTrackerByName()._trackEvent(category, action);
	            try
	            {
	                _gat._getTrackerByName()._trackEvent(category, action);
	            } catch (err) { }
	            if (link.target != "_blank") setTimeout('document.location = "' + link.href + '"', 100);
	        } catch (err)
	        {
	            var i = new Image(1, 1);
	            var e = document.location;
	            i.src = "http://l.zhaopin.com/track_err.gif?dywee=5(" + category + "*" + action + ")&dywehn=" + ed(e.hostname) + "&dywep=" + ed(e.pathname + e.search, true);
	        }
	    }
</script>
<title>简历预览</title>
</head>
<body>
	<div id='navArea' style="height:80px;width:100%;border:solid 1px grey;text-align:center;margin-bottom:2px;">
			<div id='navList'style="margin-top:20px;text-align:left;">
				<input type='button' value='首页' onclick="location='../'" style="width:12%;height:40px"/>
				<input type='button' value='订单录入' onclick="location='../record/'" style="width:12%; height:40px"/>
				<input type='button' value='订单浏览' onclick="location='../orderlist/'" style="width:12%;height:40px"/>
				<input type='button' value='报表分析' onclick="location='../report/'" style="width:12%;height:40px"/>
				<input type='button' value='工作业绩' onclick="location='../performance/'" style="width:12%;height:40px"/>
				<input type='button' value='留言板' onclick="location='../messageBoard/'" style="width:12%;height:40px"/>
				<!--<input type='button' value='顾客分布' onclick="location='../custlocation/'" style="width:12%;height:40px"/>-->
				<input type='button' value='同步中心' onclick="location='../pricedetermination/'" style="width:12%;height:40px"/>		
				<input type='button' value='个人简历' onclick="location='../resume/'" style="width:12%;height:40px"/>		
			</div>
		</div>
    <div class="resumeBody">
		<div class="summary">
            <img src="http://img00.zhaopin.cn/2012/img/my/v5/lookResumes.jpg" alt="" width="70" height="90" align="right" class="headerImg" />
            <h1>&#38472;&#23485;</h1>
            男 <span class="ver-line" >|</span>
             <span style="display:none"> <span class="ver-line">|</span></span> 
            1989年1月生 <span class="ver-line">|</span>
            户口：湖南长沙 <span class="ver-line">|</span> 
            现居住于湖南长沙 <br />
            3年工作经验 | 党员 <span class="ver-line">|</span>  
            身份证： 430121198901010016<br />
           <p style="display:none">  </p> 
            <p style="display:none">邮编:</p>
            13874900776(手机) <br />
            E-mail：<a href="mailto:393667111@qq.com">393667111@qq.com</a> <br />
            <span style="display:none">网站：<a ></a></span>
		</div>
		<dl class="details">
			<dt ><h5>求职意向</h5></dt>
			<dd >
                <ul>
                	<li ><strong>工作性质：</strong>全职</li>
                	<li ><strong>期望职业：</strong>软件/互联网开发/系统集成、互联网产品/运营管理、IT运维/技术支持</li>
                	<li ><strong>期望行业：</strong>电子技术/半导体/集成电路、计算机软件、互联网/电子商务、IT服务(系统/数据/维护)、通信/电信运营、增值服务</li>
                	<li ><strong>工作地区：</strong>长沙</li>
                	<li ><strong>期望月薪：</strong>4001-6000元/月</li>
                	<li ><strong>目前状况：</strong>我目前处于离职状态，可立即上岗</li>
                </ul>
            </dd>
			<dt ><h5>自我评价</h5></dt>
			<dd >
                <p>本人求职意向为电子计算机与互联网行业，有两年半的从业经验，着重于产品、流程、测试方向。<br/>本人有丰富的需求挖掘和构造经验。<br/>本人能熟练的完成产品需求文档，清晰、明确的说明产品设计、逻辑、流程及完成时间点，并有能力制定项目计划，跟踪和管理。<br/>本人能按照现有流行的UE设计理念设计产品原型或Demo(有线上线下设计可展示)，如有需要本人能自行设计界面UI，若还有需要本人能自行设计JS概要。<br/>本人有优秀的协调能力，各类资源，保证产品和项目正常发布。<br/>本人能利用运营数据和各类工具持续对产品改进。</p>
            </dd>
			<dt ><h5>工作经历</h5></dt>
			<dd >
            
                <div class="work-experience">
                    <p>2012/04 -- 2013/05</p>
                    <h6>北京联信永益信息股份有限公司 <span class="ver-line" >|</span>  <span class="ver-line" style="display:none">|</span> 开发测试/功能测试 </h6>
                    <p>
                        <span > 行业类别：IT服务(系统/数据/维护) <span class="ver-line">|</span> </span>
                        <span >企业性质：上市公司 <span class="ver-line">|</span> </span>
                        <span > 规模：1000-9999人 <span class="ver-line">|</span> </span>
                       <span > 职位月薪：4001-6000元/月</span>
                    </p>
                    <p  >
                        <strong>工作描述：</strong><br />
                        负责测试团队管理，负责项目测试工具开发、配置以及测试。
                    </p>
                   
                </div>
             
                <div class="work-experience">
                    <p>2011/06 -- 2012/03</p>
                    <h6>北京联信永益信息股份有限公司 <span class="ver-line" >|</span>  <span class="ver-line" style="display:none">|</span> 程序经理/产品经理/产品专员 </h6>
                    <p>
                        <span > 行业类别：IT服务(系统/数据/维护) <span class="ver-line">|</span> </span>
                        <span >企业性质：上市公司 <span class="ver-line">|</span> </span>
                        <span > 规模：1000-9999人 <span class="ver-line">|</span> </span>
                       <span > 职位月薪：2001-4000元/月</span>
                    </p>
                    <p  >
                        <strong>工作描述：</strong><br />
                        负责项目产品设计与项目内事务性工作。
                    </p>
                   
                </div>
             
            </dd>
			<dt style="display:none"><h5>项目经验</h5></dt>
			<dd style="display:none">
            
            </dd>
			<dt ><h5>教育经历</h5></dt>
            
			<dd  [%%show_edu%%]>
                <div class="education-background">
                    <p>2007/09-- 2011/06</p>
                    <h6>湖南理工学院 <span class="ver-line" >|</span> 电子信息科学与技术 <span class="ver-line"  >|</span> 本科</h6>
                </div>
            </dd>
             
			<dt style="display:none" ><h5>在校学习情况</h5></dt>
            
             <dd>
             <p  style="display:none" ></p>
             </dd>
              
			<dt style="display:none"><h5>在校实践经验</h5></dt>
           
			<dd  style="display:none">
             
            </dd>
			<dt  style="display:none"><h5>培训经历</h5></dt>
			<dd  style="display:none">
             
            </dd>
			<dt ><h5>证书</h5></dt>
			<dd >
            
                <div class="certificates">
                    <p >2011/06</p>
                    <h6 >大学英语四级</h6>
                    <p style="display:none"></p>
                </div>
               
                <div class="certificates">
                    <p >2013/12</p>
                    <h6 >雅思</h6>
                    <p >5.5</p>
                </div>
                   
            </dd>
			<dt ><h5>语言能力</h5></dt>
			<dd >
                
                <div class="language-skill">
                  英语 <span >：读写能力精通 <span class="ver-line">|</span> 听说能力熟练</span>
                </div>
               
            </dd>
			<dt ><h5>专业技能</h5></dt>
			<dd >
             
                <div class="professional-skill">
                    junit与Selenium测试框架的应用<span class="ver-line">|</span>熟练 <span class="ver-line">|</span> 12
                </div>
                
                <div class="professional-skill">
                    tfs与svn应用<span class="ver-line">|</span>良好 <span class="ver-line">|</span> 12
                </div>
                
                <div class="professional-skill">
                    tomecat与Apache配置管理<span class="ver-line">|</span>熟练 <span class="ver-line">|</span> 24
                </div>
                
                <div class="professional-skill">
                    linux 与shell编程<span class="ver-line">|</span>良好 <span class="ver-line">|</span> 12
                </div>
                
                <div class="professional-skill">
                    web开发与前后台设计<span class="ver-line">|</span>熟练 <span class="ver-line">|</span> 24
                </div>
                
                <div class="professional-skill">
                    html/css/js<span class="ver-line">|</span>熟练 <span class="ver-line">|</span> 24
                </div>
                
                <div class="professional-skill">
                    python<span class="ver-line">|</span>良好 <span class="ver-line">|</span> 6
                </div>
                
                <div class="professional-skill">
                    php<span class="ver-line">|</span>熟练 <span class="ver-line">|</span> 24
                </div>
                
                <div class="professional-skill">
                    java php python 白盒测试<span class="ver-line">|</span>熟练 <span class="ver-line">|</span> 12
                </div>
                
                <div class="professional-skill">
                    项目管理能力<span class="ver-line">|</span>熟练 <span class="ver-line">|</span> 12
                </div>
                
                <div class="professional-skill">
                    Axure与photoshop进行产品原型设计<span class="ver-line">|</span>熟练 <span class="ver-line">|</span> 24
                </div>
                
                <div class="professional-skill">
                    lordrunner与QTP的使用<span class="ver-line">|</span>熟练 <span class="ver-line">|</span> 12
                </div>
                
                <div class="professional-skill">
                    Oracle与mysql数据库包括对应的orm的应用<span class="ver-line">|</span>熟练 <span class="ver-line">|</span> 24
                </div>
                
                <div class="professional-skill">
                    JAVA<span class="ver-line">|</span>熟练 <span class="ver-line">|</span> 24
                </div>
                
            </dd>
            

			<dt style="display:none"><h5>附件</h5></dt>
			<dd style="display:none">
               
            </dd>

            <dt style="display:none"><h5>附件简历</h5></dt>
			<dd style="display:none">
                <div class="photo-attach">
                   <a href=""></a>
                </div>
            </dd>

            <dt style="display:none"><h5>简历内容</h5></dt>
			<dd style="display:none">
                <div class="photo-attach">
                   <p></p>
                </div>
            </dd>
		</dl>
	</div>
</body>
</html>
